@import '../../styles/app';

    
    
    article img[data-v-1244b4c1] {
    background-color: #fff;
    width: 128px;
    height: 128px;
    margin-bottom: -74px;
}

.is-circle {
    border-radius: 50%;
}

.message.is-info .message-header {
    background-color: #3273dc;
    color: #fff;
}
.message-header {
    background-color: #4a4a4a;
    border-radius: 3px 3px 0 0;
    color: #fff;
    padding: 7px 10px;
}
.has-text-centered {
     text-align: center; 
}